body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightgray;
}

.header {
    /*header styles*/
  background-color: gray;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;

  /*fit navbar above*/
  margin-top: 65px;
}

.navbar {
  background-color: black;
  color: white;

  /*fixed at top */
  position: fixed;
  top: 0px;
  width: 100%;
}

/*Layout container*/
.container {
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
}

/* left column */
.left-col {
  background-color: gray;
  border: coral 2px solid;
  padding: 10px;

  color: white;
  font-size: 16px;
}

ul {
  list-style: square;
  color: coral;
}

.left-col a:link {
  text-decoration: none;
  color: coral;
}

.left-col a:hover,
.left-col a:active {
  text-decoration: underline;
}
.left-col a:visited {
  color: red;
}
/* END of left column */

/* Center Column */
.center-col {
  background-color: gray;
  border: coral 2px solid;
  padding: 10px;

  overflow: scroll;
  color: white;
  font-size: 16px;
}

.center-img {
  display: flex;
  justify-content: center;
}

.center-col img {
  border: 5px ridge darkgray;
  width: 90%;
}
/* END of Center Column */

/* right column */
.right-col {
  background-color: gray;
  border: coral 2px solid;
  padding: 10px;

  overflow: scroll;
  color: white;
  font-size: 16px;
}

img {
  padding: 5px;
}
/*END of right column*/

/*FOOTER*/
.footer {
  background-color: gray;
  margin-top: 20px;
  color: white;
  font-size: 16px;
}
/*END OF Footer

/*flexbox layout*/
/*.container {
  display: flex;
  gap: 20px;
}
.left-col {
  flex: 1;
}
.center-col {
  flex: 2;
}
.right-col {
  flex: 1;
}
/* END of flexbox*/

/*GRID layout*/
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}
/* END of GRID layout*/

/* navbar setup */

/*
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}


/*
.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.show {
  display: block;
}*/

/* w3school */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.navbar li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}
